{# src\Film\AdminBundle\Resources\views\Personne\list.html.twig #}
{% extends 'FilmBiblioBundle::layout.html.twig' %}

{% block title %}Liste des Realisateur{% endblock %}

{% block body %}

<h1 class="monh1">Liste des réalisateurs :</h1>
<ul>
{% for personne in personnes %}
<div class ="well monwell">
	<div class ="row">

    <li>
        <a href="{{ path('admin_personne_modif', {'id': personne.id}) }}" class="nom_liste">{{ personne.prenom }} {{ personne.nom }}</a>
        <a href="{{ path('admin_personne_supprimer', {'id': personne.id}) }}" class = "btn btn-danger goright">Supprimer</a>
    </li>
    </div>
    </div>
{% endfor %}
</ul>
<a href="{{ path('admin_personne_ajout') }}" class = "btn btn-primary monw" style="margin:0 125px;">Ajouter</a>

{% endblock %}