{# src/Film/BiblioBundle/Resources/views/layout.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Film Bibliothèque{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    </head>
    <body>
        <ul class="menu">
            <li><a href="{{ path('page_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('page_films') }}">Bibliothèque</a></li>
            <li><a href="{{ path('page_cine') }}">Cinema</a></li>
            <li><a href="{{ path('index_admin') }}">Admin</a></li>
        </ul>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>