{# src\Film\AdminBundle\Resources\views\Film\list.html.twig #}
{% extends 'FilmBiblioBundle::layout.html.twig' %}

{% block title %}Liste des films{% endblock %}

{% block body %}

<a href="{{ path('index_admin') }}" class = "btn btn-default monw" style="margin:20px 125px;">Retour</a>

<h1 class="monh1">Liste des films :</h1> 

<ul>
{% for film in films %}
	<div class ="well monwell">
	<div class ="row">

    <li>
        <a href="{{ path('admin_film_modif', {'id': film.id}) }}" class="nom_liste">{{ film.titre }} </a>
        <a href="{{ path('admin_film_supprimer', {'id': film.id}) }}" class = "btn btn-danger goright">Supprimer</a>
    </li>
    </div>
    </div>
{% endfor %}
</ul>
<a href="{{ path('admin_film_ajout') }}" class = "btn btn-primary monw" style="margin:0 125px;">Ajouter</a>


{% endblock %}